

.col-12.d-flex.align-items-center.justify-content-center{
  background: rgb(101, 191, 102);
  background: linear-gradient( rgb(0, 75, 145) 0%, rgb(21, 119, 42) 50%);
}
.card
{
  background-color: rgb(110, 119, 116);
}
.card-footer{
  background-color: rgb(110, 119, 116);
}
.form-group input{
color:black;}


